<div class="row vertical-center-row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-4 col-lg-offset-5">
        <form method="get" action="/movies" class="form-inline">
          <div class="form-group">
            <input type="text" name="s" class="form-control" placeholder="search movies">
          </div>
            <input type="submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>




